<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        
        <div class="col-8 my-4">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos estão logo abaixo</p>

            <div class="responsive-table my-3">
                <table class="table">
                    <tr>
                        <td class="td">Nome</td>
                        <td class="td">Sobrenome</td>
                        <td class="td">Telefone</td>
                        <td class="td">Email@email.com</td>
                        <td class="td">Ações</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="col-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>